<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Articels.com</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= render "/layouts/shared/javascript" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "/layouts/shared/navbar" %>
    <div class="main-container" id="main-container">
      <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
      </script>
      <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
          <span class="menu-text"></span>
        </a>
        <%= render "/layouts/shared/sidebar" %>

        <%= yield %>

      </div>
    </div>
  </body>
</html>